/*通用样式*/
body{
	font:12px "microsoft yahei",Arial,sans-serif;
	color:#666;
	margin:0;
	padding:0;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
input{border:0;}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
img{vertical-align:bottom;}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#FF0700;
	text-decoration:underline;
}
/*STEP1 : 页面的主体布局*/
#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
	/*宽度:1211px，水平居中对齐*/
	width:1211px;
	margin:0 auto;
}
#top{
	/*宽度，高度，行高，背景，下边框*/
	width:100%;
	height:30px;
	line-height:30px;
	background:#F7F7F7;
	border-bottom:1px solid #EEE;
}
/*页面顶部-五角星*/
#top_box>img{
	margin-top:10px;
	margin-right:5px;
}
/*页面顶部-列表*/
#top_box>ul>li{
	float:left;
	margin-left:5px;
}
#top_box b{
	border-right:1px solid #ddd;
	margin-right:5px;
}
/*页面顶部-列表-会员俱乐部*/
li.vip a{
	/*左内边距，背景属性*/
	padding-left:29px;
	background:url(Images/vip.jpg) no-repeat 0 center;
}
/*页面顶部-列表-大客户*/
li.dakehu a{
	padding-left:26px;
	background:url(Images/dakehu.jpg) no-repeat 0 center;
}
/*页面顶部-列表-手机京东*/
li.app_jd a{
	/*行内块，高度，行高，左内边距，背景*/
	display:inline-block;
	height:22px;
	line-height:22px;
	padding-left:18px;
	background:url(Images/iconlist_2.png) no-repeat -128px -360px;
}
li.app_jd a:hover{
	background-position:-128px -399px;
}
/*页面顶部-列表-客户服务*/
li.service>a{
	/*左右内边距，背景图，边框(左右上透明)*/
	padding:0 15px;
	background:url(Images/jt_down.jpg) no-repeat 95% center;
	border:1px solid transparent;
	border-bottom:0;
	/*行内块，高度，行高*/
	display:inline-block;
	height:26px;
	line-height:26px;
}
li.service>a:hover{
	/*边框颜色，背景颜色，背景图像*/
	border-color:#ddd;
	background-color:#fff;
	background-image:url(Images/jt_up.jpg);
}
/*页面顶部-列表-客户服务-弹出列表*/
li.service{
	/*相对定位：配合 #service_items 绝对定位*/
	position:relative;
}

#service_items{
	/*边框(左右下)，背景颜色，宽度，文本居中对齐,绝对定位，偏移属性*/
	border:1px solid #ddd;
	border-top:0;
	background:#fff;
	width:78px;
	text-align:center;
	position:absolute;
	top:28px;
	left:6px;
	/*默认隐藏*/
	display:none;
}
li.service:hover #service_items{
	display:block;
}
/**STEP2 LOGO和搜索框**/
#top_main{
	padding:10px 0;
}
/*搜索框 */
#search_box{
	/*宽度，左右外边距，左浮动*/
	width:500px;
	margin:0 80px 0 40px;
	float:left;
}
/*搜索框-搜索底部样式*/
#search_box div.search{
	/*宽度，高度，背景颜色*/
	width:500px;
	height:30px;
	background:#E4393C;
	/*边框/或内边距*/
	padding:3px;
}
#search_box div.search input{
	/*宽度，高度，padding设置为0，左内边距*/
	width:410px;
	height:30px;
	padding:0;
	padding-left:10px;
}
/*搜索框中的搜索按钮*/
#search_box div.search button{
	/*去边框，宽度，高度，背景，文字：大小，颜色，加粗*/
	border:0;
	width:75px;
	height:28px;
	background:#E4393C;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
/*搜索框-热门搜索*/
#search_box div.hot_words{
	/*上外边距，文本颜色*/
	margin-top:5px;
	color:#999;
	/*宽度，高度，溢出隐藏*/
	width:100%;
	height:16px;
	overflow:hidden;
}
#search_box div.hot_words a{
	/*文本颜色，左外边距*/
	color:#999;
	margin-left:5px;
}
/*LOGO和搜索框-我的京东*/
#my_jd{
	/*左浮动，边框，宽度，高度，行高，左内边距，背景，上外边距*/
	float:left;
	border:1px solid #EFEFEF;
	width:72px;
	height:27px;
	line-height:27px;
	padding-left:30px;
	background:#f7f7f7 url(Images/iconlist_2.png) no-repeat -116px -25px;
	margin-top:4px;
	cursor:pointer;
}
#my_jd b{
	border:5px solid transparent;
	border-top-color:#ccc;
	/*相对定位：目的为了移动元素的位置*/
	position:relative;
	top:11px;
}
#my_jd:hover{
	background-color:#fff;
	background-position:-116px -55px;
}
/*STEP3 - 页面底部-购物指南*/
#foot_box{
	/*上下边框，上外边距，上下内边距*/
	border:1px solid #ddd;
	border-left:0;
	border-right:0;
	margin-top:10px;
	margin-bottom:20px;
	padding:5px 0;
	/*overflow:撑起当前元素高度*/
	overflow:hidden;
}
/*图标*/
#foot_box p{
	/*左浮动，宽度，高度，左右外边距，背景属性*/
	float:left;
	width:40px;
	height:40px;
	margin:0 10px 0 50px;
	background:url(Images/iconlist_2.png) no-repeat;
	/*上外边距：图标下移*/
	margin-top:10px;
}

#foot_box ul{
	/*左浮动，宽度*/
	float:left;
	width:142px;
}
#foot_box ul b{
	line-height:30px;
}
#foot_box ul li{
	line-height:22px;
}

#foot_box p.shopping_guide{
	background-position:0 -56px;
}
#foot_box p.send_type{
	background-position:-50px -56px;
}

/*STEP4 : 底部 - 备案号*/
#footer{
	text-align:center;
	margin-top:10px;
}
#footer .links a{
	margin:0 5px;
}
#footer div.copyright{
	/*上下外边距，行高*/
	margin:10px 0 15px 0;
	line-height:20px;
}
#footer div.imgs a{
	margin:0 5px;
}
/*STEP 5 :页面主导航*/
#nav{
	/*高度，行高，背景颜色*/
	height:40px;
	line-height:40px;
	background:#E64346;
}
#nav>div{
	/*宽度，高度，行高，背景，浮动*/
	width:210px;
	height:40px;
	line-height:40px;
	background:#CD2A2C;
	float:left;
}
#nav>div a{
	/*颜色，加粗，大小，左内边距，去下划线*/
	color:#fff;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	text-decoration:none;
	float:left;
}
#nav>div b{
	/*右浮动，宽度，高度，背景，外边距(上右)*/
	float:right;
	width:20px;
	height:20px;
	background:url(Images/iconlist_2.png) no-repeat -65px 0;
	margin:10px 10px 0 0;
}
/*主导航的 列表项*/
#nav ul li{
	float:left;
}
#nav ul li a{
	/*左浮动，宽度，高度，文字：大小，加粗，颜色，去下划线*/
	float:left;
	width:100px;
	height:40px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	/*文本水平居中对齐*/
	text-align:center;
}
#nav ul li a:hover{
	background:#BD2A2C;
}
/*STEP6 : BANNER 部分内容*/
/*左侧 分类信息*/
#cate_box{
	/*左浮动，box-sizing，宽度，高度，边框，上内边距*/
	float:left;
	box-sizing:border-box;
	width:210px;
	height:410px;
	border:2px solid #CD2A2C;
	border-top:0;
	padding-top:5px;
	background:#FAFAFA;
}
/*li 的代理 */
#cate_box>li>p{
	/*宽度，左内边距，上下内边距，边框*/
	width:186px;
	padding:5px 0 5px 10px;
	border-top:1px solid transparent;
	border-bottom:1px solid #fff;
}
#cate_box>li>p:hover{
	/**边框颜色，背景颜色*/
	border-color:#ddd;
	background:#fff;
}
#cate_box>li>p a{
	font-size:14px;
	color:#333;
	text-decoration:none;
}
/*子分类盒子*/
#cate_box{
	/*相对定位：为了配合#sub_cate_box的绝对定位*/
	position:relative;
}
#sub_cate_box{
	/*宽度，高度，边框，背景，内边距*/
	width:710px;/*暂定*/
	border:1px solid #ddd;
	background:#fff;
	padding:5px 10px;
	/*绝对定位，调整位置*/
	position:absolute;
	top:3px;
	left:195px;
	z-index:20;
}
#cate_box>li>p:hover{
	/*相对定位：为了调整该元素的 z-index*/
	position:relative;
	z-index:50;
}
/*关闭按钮*/
#close{
	/*宽度，高度，行高，背景颜色，文本颜色，大小，水平居中对齐，倒角*/
	width:20px;
	height:20px;
	line-height:20px;
	background:#555;
	color:#fff;
	font-size:14px;
	text-align:center;
	border-radius:50%;
	cursor:pointer;
	/*绝对定位，位置偏移 */
	position:absolute;
	right:-10px;
	top:-10px;
}
/*子分类内容*/
#sub_cate_items{
	/*宽度，左浮动*/
	width:500px;
	float:left;
}
#sub_cate_items ul{
	overflow:hidden;
	/*上边框，上下内边距*/
	border-top:1px solid #ddd;
	padding:5px 0;
}
#sub_cate_items li{
	/*左浮动*/
	float:left;
	/*左边框，内边距*/
	border-left:1px solid #ddd;
	padding:3px 5px;
}
#sub_cate_items li.title{
	/*取消边框，设置宽度，文本右对齐*/
	border:0;
	width:60px;
	text-align:right;
}
#sub_cate_items li.title a{
	/*加粗，红色，下划线*/
	font-weight:bold;
	color:#E4393C;
	text-decoration:underline;
}
/*子分类广告 */
#sub_cate_banner{
	/*宽度*/
	float:right;
	width:200px;
}
#sub_cate_banner>a{
	/*块级，上外边距*/
	display:block;
	margin-top:10px;
}
#sub_cate_banner>h4{
	/*颜色，上下外边距*/
	color:#E4393C;
	margin:10px 0;
}
#sub_cate_banner ul a{
	/*行高，颜色*/
	line-height:20px;
	color:#666;
}
/*中间的 滚动 广告*/
#sub_cate_box{
	display:none;
}
/*中间大块*/
#slider_box{
	/*左浮动，宽度，高度，上左外边距*/
	float:left;
	width:670px;
	height:400px;
	margin-top:10px;
	margin-left:10px;
}
/*数字*/
#slider li{
	/*左浮动，宽度，高度，背景颜色，文字颜色，水平居中，行高，倒角，左外边距*/
	float:left;
	width:20px;
	height:20px;
	background:#3e3e3e;
	color:#fff;
	text-align:center;
	line-height:20px;
	border-radius:50%;
	margin-left:10px;
	cursor:pointer;
}
#slider li:hover{
	background:#E4393C;
}
#slider{
	/*相对定位：配合 ul 的绝对定位*/
	position:relative;
}
#slider ul{
	position:absolute;
	bottom:30px;
	right:50px;
}
/*小广告*/
#ad{
	/*宽度，高度，边框*/
	width:668px;
	height:159px;
	border:1px solid #ddd;
	border-top:0;
}
#ad>a{
	/*浮动，宽度，高度，背景属性，上外边距*/
	float:left;
	width:25px;
	height:35px;
	background:url(Images/index/ad-arraw.png) no-repeat;
	margin-top:62px;
}
#ad>a.next{
	/*右浮动，背景图片位置*/
	float:right;
	background-position:0 -35px;
}
#ad>a:hover{
	background-image:url(Images/index/ad-arraw-hover.png);
}
#ad li{
	/*左浮动，宽度，内边距，内容水平居中对齐*/
	float:left;
	width:205px;
	padding:10px 0;
	text-align:center;
}
#ad li.mid{
	/*宽度，左右边框*/
	width:206px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
/*右侧 京东快报  #extra_focus*/
#extra_focus{
	/*宽度，高度，浮动*/
	width:310px;
	height:400px;
	margin-top:10px;
	float:right;
}
/*京东快报*/
#news>p a{
	float:right;
	color:#005aa0;
}
#news>p{
	overflow:hidden;
	padding:10px 0 5px 0;
}
/*京东快报具体内容*/
#news>div{
	/*边框，最小高度*/
	border:1px solid #ddd;
	border-top:2px solid #aaa;
	min-height:50px;
	overflow:hidden;
}
#news>div ul{
	/*左右内边距，宽度，行高*/
	padding:0 10px;
	width:133px;
	line-height:25px;
}
#news>div ul.lf{
	border-right:1px solid #ddd;
}
/*虚拟相关*/
#virtuals{
	/*宽度，高度，上边框，左边框,上外边距*/
	width:309px;
	height:184px;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	margin-top:11px;
}
#virtuals li{
	/*宽度，高度*/
	width:76.25px;
	height:91px;
	/*右下边框，浮动*/
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	float:left;
}
#virtuals li a{
	/*块级，水平居中*/
	display:block;
	text-align:center;
}
#virtuals li s{
	/*变块级，宽度，高度，背景，水平对齐(外边距)*/
	display:block;
	width:40px;
	height:30px;
	background:url(Images/index/virtuals-20140606.png) no-repeat;
	margin:10px auto;

}
#virtuals li.jipiao s{
	background-position:0 -50px;
}
#virtuals li.licai s{
	width:39px;
	height:35px;
	background-position:-128px -50px;
	margin:8px auto;
}
#virtuals li i{
	/*块级，宽度，高度，边框，外边距*/	
	display:block;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#aaa;
	margin:5px auto 0;
}
/*STEP 7 : 页面主体*/
#main{
	margin:10px auto;
}
/*生活的橱窗：文字部分*/
#show_box>p{
	/*文字大小，加粗，下外边距*/
	font-size:16pt;
	font-weight:bold;
	margin-bottom:10px;
}
#show_box>p i{
	/*文字大小，颜色，取消加粗，左外边距*/
	font-size:10pt;
	color:#999;
	font-weight:normal;
	margin-left:10px;
}
/*8个li*/
#show_box>ul>li{
	/*宽度，高度，浮动，左外边距，下外边距*/
	width:295px;
	height:190px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	/*过渡*/
	transition:background 0.3s linear;
}
#show_box>ul>li.no_margin{
	margin-left:0;
}
#show_box>ul>li.pinpaijie{
	background:url(Images/index/show_01.jpg) no-repeat;
}
#show_box>ul>li.tiantiandijia{
	background:url(Images/index/show_02.jpg) no-repeat;
}
#show_box>ul>li.tuangou{
	background:url(Images/index/show_04.png) no-repeat;
}
#show_box>ul>li:hover{
	background-position:-10px 0;
}
/*遮罩层*/
#show_box>ul>li>p{
	/*宽度，高度，背景颜色，透明度*/
	width:45%;
	height:100%;
	background:#fff;
	opacity:0.7;
}
/*文字模块*/
#show_box>ul>li{
	position:relative;
}
#show_box>ul>li>div{
	/*宽度，高度，绝对定位*/
	position:absolute;
	top:30px;
	left:20px;
}
#show_box>ul>li>div h3{
	/*文本颜色，文字大小*/
	color:#50504C;
	font-size:18px;
}
#show_box>ul>li>div h4{
	/*文字大小，取消加粗，行高*/
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}
#show_box>ul>li>div p{
	color:#E4393C;
}
#show_box>ul>li>div>span{
	/*文字颜色，背景颜色，上下左右内边距*/
	color:#fff;
	background:#e4393c;
	padding:1px 3px;
}
#show_box>ul>li>div ul{
	margin-top:20px;
}
#show_box>ul>li>div ul b{
	display:inline-block;
	width:2px;
	height:2px;
	background:#666;
	position:relative;
	bottom:5px;
}
/*参团*/
#show_box>ul>li>div>div{
	margin-top:20px;
	color:#999;
}
#show_box>ul>li>div>div>span{
	/*文字大小，颜色*/
	font-size:24px;
	color:#E4393C;
}
/*三幅广告*/
#show_ads li{
	float:left;
}
#show_ads li.mid{
	margin:0 11px;
}

/*******楼层 1F*********/
div.floor{
	margin-bottom:10px;
}
div.floor header{
	height:40px;
}
div.floor header>span{
	/*左浮动，宽度，高度，背景，文本居中，字体大小，加粗，颜色，下边框，上下内边距*/
	float:left;
	width:26px;
	height:32px;
	background:url(Images/index/index_iconlist_01.png) no-repeat;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	border-bottom:2px solid #aaa;
	padding:3px 0;
	cursor:pointer;
}
div.floor header>span:hover{
	background-position:-40px 0;
}
div.floor header p{
	/*左浮动，宽度，文本大小，加粗，水平居中对齐，下边框，上下内边距*/
	float:left;
	width:185px;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	border-bottom:2px solid #aaa;
	padding:5px 0 4px 0;
}
div.floor ul.tab li{
	float:left;
}
div.floor ul.tab li a{
	/*左浮动，宽度，字体大小，加粗，水平居中对齐，下边框，去下划线，上下内边距*/
	float:left;
	width:158px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	border-bottom:2px solid #aaa;
	text-decoration:none;
	padding:15px 0 4px 0;
}
div.floor ul.tab li a:hover{
	/*边框颜色，背景图像*/
	border-color:#E4393C;
	background:url(Images/index/tab_arraw.png) no-repeat center bottom;
} 
div.floor ul.links{
	width:210px;
}
div.floor ul.links li{
	/*左浮动，宽度，下边框，上下内边距,文字水平居中*/
	float:left;
	width:50%;
	border-bottom:2px solid #aaa;
	text-align:center;
	padding:18px 0 4px 0;
}
div.floor ul.links li a{
	color:#005aa0;
}

/* 左侧列表*/
div.floor{
	overflow:hidden;
}
div.floor aside.lf_list{
	/*左浮动，宽度，高度，右下边框*/
	float:left;
	width:210px;
	height:361px;
	border:1px solid #ddd;
	border-top:0;
	border-left:0;
}
div.floor aside.lf_list li{
	/*左浮动，行高，宽度*/
	float:left;
	line-height:25px;
	width:50%;
}
div.floor aside.lf_list ul{
	/*overflow，左右内边距*/
	overflow:hidden;
	padding:0 5px;
}
div.floor aside.lf_list p{
	text-align:center;
	margin-top:10px;
}
/**楼层中间区域*/
div.floor>div{
	float:left;
	width:790px;
	height:362px;
}
div.floor>div dl{
	/*浮动，宽度，高度，右下边框*/
	float:left;
	width:157px;
	height:180px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
div.floor>div>div{
	float:left;
	width:473px;
	height:180px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
div.floor>div dt{
	text-align:center;
}
div.floor>div dd{
	padding:0 10px;
	line-height:22px;
}
div.floor>div dd.text{
	/*水平居中，文本颜色*/
	text-align:center;
	color:#E4393C;
}
/*右侧内容*/
div.floor aside.rt{
	/*宽度，高度*/
	width:210px;
	height:362px;
}
div.floor aside.rt ul{
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
div.floor aside.rt li{
	/*左浮动，宽度，水平居中，上边框*/
	float:left;
	width:50%;
	text-align:center;
	border-top:1px dotted #ddd;
}
/*热门晒单*/
#content_other{
	margin:10px 0;
	overflow:hidden;
}
#content_other div.share{
	/*左浮动，边框，内边距，宽度，box-sizing*/
	float:left;
	border:1px solid #ddd;
	border-top:2px solid #ccc;
	padding:10px;
	width:445px;
	box-sizing:border-box;
}
div.share li{
	/*下边框*/
	border-bottom:1px dotted #ddd;
	/*上下内边距*/
	padding:15px 0 10px 0;
}
div.share li>p{
	/*浮动，左外边距*/
	float:left;
	margin-left:10px;
	/*相对定位*/
	position:relative;
	/*右外边距：离右侧超链接远一点*/
	margin-right:15px;
}
div.share li>p img{
	width:50px;
}
div.share li>p i{
	/*17*19*/
	/*宽度，高度，绝对定位，位置调整 */
	width:17px;
	height:19px;
	position:absolute;
	right:-8px;
	top:-7px;
	background:url(Images/iconlist_3.png) no-repeat -200px -50px;
	
}
div.share li h3{
	font-weight:normal;
	width:340px;
}
div.share li h3 a{
	color:#005aa0;
	line-height:18px;
}
div.share li h4{
	font-weight:normal;
	width:360px;
	padding-right:54px;
	/*背景*/
	background:url(Images/iconlist_3.png) no-repeat 380px -80px;
	min-height:24px;
}
div.share li h4 a{
	color:#999;
	line-height:18px;
}
/*在线读书 : #more*/
#more{
	/*宽度，高度，右浮动*/
	width:311px;
	height:204px;
	float:right;
}
#more div.reading{
	/*边框，左右下padding*/
	border:1px solid #ddd;
	border-top:2px solid #ccc;
	padding:0 10px 15px;/*暂定*/
	overflow:hidden;
}
#more a{
	color:#005aa0;
}
#more div.reading>p{
	/*overflow，上下内边距*/
	overflow:hidden;
	padding:10px 0;
}
#more div.reading li{
	line-height:25px;
}
#more div.reading li i{
	display:inline-block;
	width:2px;
	height:2px;
	background:#005aa0;
	position:relative;
	left:3px;
	bottom:2px;
}
#more div.order p{
	font-size:14px;
	font-weight:bold;
}
#more div.order input{
	/*宽度，高度，边框，背景*/
	height:31px;
	width:236px;
	box-sizing:border-box;
	border:1px solid #676767;
	border-right-color:#eaeaea;
	border-bottom-color:#eaeaea;
	padding-left:28px;
	background:url(Images/index/email.gif) no-repeat 5px center;
}
#more div.order button{
	/*宽度，高度，去边框，倒角，背景颜色，文本颜色，文字大小*/
	width:70px;
	height:31px;
	border:0;
	border-radius:5px;
	background:#e4393c;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}








